{% extends "blog/base.html" %}

{% block content %} 
<div class="">
    <h1 class="text-4xl text-gray-900 text-center py-8" >Create new Blog </h1>

    <form method="post" enctype="multipart/form-data" action="{% url 'category' %}">
        {% csrf_token %}
       
       <label>Category </label> <input type="text" class="border-2 w-64 py-4 px-6 rounded-xl" name="name"><br/>
      
        
        <button type="submit" class="px-6 mx-36 py-2 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Submit</button>
     </form>
</div>


{% endblock content %}