{% extends "blog/base.html" %}

{% block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl text-center">Login</h1>
    {% if form.errors %}
   <p>Your username and password didn't match. Please try again.</p>
   {% endif %}
    <form method="post" action="{% url 'login' %}">
   {% csrf_token %}
   <div class="mb-3 font-bold ">
    <label class="inline-block text-center mb-2">Username</label><br>
    <div class="flex justify-center">  {{ form.username }}  </div>
    </div>

    <div class="mb-3 font-bold">
        <label class="inline-block mb-2">Password</label><br>
        <div class="flex justify-center"> {{ form.password }}</div>
    </div>
   <div class="flex justify-center"> <button name="submit" class="px-6 py-2 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Login</button></div>
   </form>
</div>
{% endblock content %}